@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Posts Index</h1>

    <p>
    	@Html.RouteLink("Click Here", "Login") to login!
    </p>
</body>
</html>

